<html>
  <body>
    <h1>
      Hello, World!
    </h1>
    <p>
      Welcome to my webserver!
    </p>
    <p>
      Server OS family: <%= @osfamily %>
      Server uptime (seconds): <%= @uptime_seconds %>
    </p>
  </body>
</html>
